:root {
  --background-primary-color: #f8d5d2;
  --background-secondary-color: #5f6366;
}
.content-container {
  color: #5f6366;
  text-align: center;
  padding: 260px 0;
}
.hero {
  background-color: var(--background-secondary-color);
  position: relative;
  display: flex;
  justify-content: space-between;
}
body {
  height: 789px;
  color: #5f6366;
}
.rectangle {
  width: 735px;
  height: 789px;
  background-color: var(--background-primary-color);
  clip-path: polygon(0 0, 100% 0, 84% 100%, 0 100%);
}

.hero img {
  margin-top: 0;
  max-width: 42%;
}

.btn-branding {
  background: var(--background-secondary-color);
  border-radius: 4px;
  color: #ffdfe4;
  font-size: 18px;
  margin-top: 25px;
}
p {
  line-height: 30px;
}
@media (max-width: 900px) {
  h1 {
    font-size: 30px;
  }
  .hero h2,
  h3 {
    font-size: 20px;
    font-weight: lighter;
  }
}
.mb-custom {
  margin-bottom: 200px;
}
